/*Stylesheet for Mobile App*/

/*Reset*/
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,il,header,footer,nav{
    margin:0;
    padding:0;
}

/*universal style*/
body{
    background-color: #ffcc6e;
    padding: 25px;
}
div#container{
    width: device-width;
    /*height:800px;*/
    background-color: white;
}
header{
    background-color: #63b7ff;
    /*percentages like 100% or px*/
    width:device-width-25px;
    /*content, padding, border, margin*/
    padding: 25px;
}
header h1{
    color: white;
    /*-family: "Hobo Std", "sans-serif";*/
    font-family: 'Itim', cursive;
    /*em, px, %*/
    font-size: 3em;
    /*position on x and y, then how blurry, than a color*/
    text-shadow: 2px 2px 2px dimgray;
    text-align: center;
}
div#content{
    width: 100%;
    background-color: #97cfff;
    border: 2px, dimgray;
    font-family: 'Itim', 'cursive';
    /*text-align: center;*/
}
div p{
    font-family: "sans-serif";
}
div h3{
    font-family: 'Itim', cursive;
    /*em, px, %*/
    font-size: 2em;
    color: dimgray;
    /*position on x and y, then how blurry, than a color*/
    text-shadow: 1px 1px 1px white;
    text-align: center;
    padding: 10px;
}
div img{
    text-align: center;
}
nav{
    background-color: #97cfff;
    color: white;
    font-family: 'Itim', cursive;
    font-size: 1em;
    text-align: center;
    /*width: 100%;*/
    border: 2px solid white;
}
nav ul{
    list-style:none;
    /*display: block;*/
    
}
nav ul li a{
    /*background-color: #97cfff;*/
    color:white;
    /*text-align: center;*/
    text-decoration: none;
    float:left;
    display: block;
    padding: 5px 10px;
    /*border-right: 2px solid #63b7ff;
    border-bottom: 2px solid #63b7ff;*/
}
nav ul li a:hover{
    background-color: white;
    color: #ffcc6e;
}
div.keepopen{
    clear: both;
}
footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #63b7ff;
}
/*media query to see if screen is bigger than 600 px, if it is, nonething is done, if it is not, than the navigation shrinks*/
@media screen and (max-width: 600px){
    div#container{
        width:100%;
    }
    nav ul li a{
        float: none;
        text-align:center;
        border-bottom: 2px solid #63b7ff;
        border-right: none;
    }
}